<!doctype html>
<html>
  <head>
    <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include navigation.html %}
    <div class="body">
      <div>
        {{ content }}
      </div>
      <div class="sorry">
        <p>þetta sorry exuse for a verkefni er gert af Bent. allir sem lesa eða skoða þetta verkefni verða að borga 0kr til mín. takk fyrir</p>
        <img src="jibril.jpeg">
      </div>
    </div>
  </body>
</html>